body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(183, 128, 26);
    padding:20px;
}
.title{
    text-align:center;
    margin-bottom:10px;
}
.timetable{
    width:90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}
.timetable th,.timetable td{
    border:1px solid black;
    padding:12px;
    text-align: center;
}
.timetable th{
    border:1px solid whitesmoke;
    background-color: black;
    colour:white;
}
.BREAK{
    background-color: bisque;
    font-weight: 900;
}
.LUNCH BREAK{
    background-color:bisque;
    font-weight: 900;
}