div{
    float:center;
    box-shadow: 0px 0px 50px blue;
}
.card{
    height:400px;
    width:250px;
    padding:5px;
    margin:5px;
    border:2px solid black;
    background-color: aqua;

}
img{
    border-radius: 50%;
    height:100px;
    width: 100px;
    object-fit: cover;

}
.card{
    text-align: center;
}
h1{
    background-color: aliceblue;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}




