#box1{
    height: 500px;
    width: 250px;
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    background-color: bisque;
}
img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
